# .github/workflows/ci-scripts-build.yml for use with EPICS Base ci-scripts
# (see: https://github.com/epics-base/ci-scripts)

# This is YAML - indentation levels are crucial

name: CAGateway

# Trigger on pushes and PRs to any branch
on:
  push:
    paths-ignore:
      - 'docs/*'
      - '.gitattributes'
      - '**.html'
      - '**.md'
  pull_request:
    paths-ignore:
      - 'docs/*'
      - '.gitattributes'
      - '**.html'
      - '**.md'

env:
  SETUP_PATH: .ci-local:.ci

jobs:
  build-base:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    # Set environment variables from matrix parameters
    env:
      CMP: ${{ matrix.cmp }}
      BCFG: ${{ matrix.configuration }}
      EXTRA: ${{ matrix.extra }}
      TEST: ${{ matrix.test }}
      SET: ${{ matrix.set }}
      PY_TEST_INTERP: ${{ matrix.python || 'python3' }}
      ADD_MODULES: ${{ matrix.ADD_MODULES || '' }}
      JUNIT_PREFIX: ${{ matrix.name }}_${{ matrix.os }}_
      SKIP_CAPUTLOG_TESTS: ${{ matrix.skip_caputlog }}

    strategy:
      fail-fast: false
      matrix:
        # Job names also name artifacts, character limitations apply
        include:
          - os: ubuntu-24.04
            cmp: gcc
            configuration: static
            extra: "CMD_CXXFLAGS=-std=c++11"
            set: "base-7.0"
            name: "B-7.0 Ub-24 gcc-13 C++11, static"

          - os: ubuntu-24.04
            cmp: gcc
            configuration: default
            set: "base-7.0"
            name: "B-7.0 Ub-24 gcc-13"

          - os: ubuntu-24.04
            cmp: gcc
            configuration: static
            set: "base-7.0"
            name: "B-7.0 Ub-24 gcc-13, static"

          - os: ubuntu-24.04
            cmp: clang
            configuration: default
            set: "base-7.0"
            name: "B-7.0 Ub-24 clang-18"

          - os: ubuntu-24.04
            cmp: clang
            configuration: default
            extra: "CMD_CXXFLAGS=-std=c++11"
            set: "base-7.0"
            name: "B-7.0 Ub-24 clang-18 C++11"

# MacOS and Windows builds need regex library
          - os: macos-latest
            cmp: clang
            configuration: default
            set: "base-7.0"
            name: "B-7.0 MacOS clang-15"
            extra: "USE_PCRE=YES"

          - os: windows-2022
            cmp: gcc
            configuration: default
            set: "base-7.0"
            name: "B-7.0 Win-22 mingw"
            extra: "USE_PCRE=YES"
            ADD_MODULES: "pcre"
            python: "python"

          - os: windows-2022
            cmp: vs2022
            configuration: debug
            set: "base-7.0"
            name: "B-7.0 Win-22 MSC-22, debug"
            extra: "USE_PCRE=YES"
            ADD_MODULES: "pcre"
            python: "python"

          - os: ubuntu-24.04
            cmp: gcc
            configuration: default
            set: "base-3.15"
            name: "B-3.15 Ub-24 gcc-13"

          - os: ubuntu-24.04
            cmp: gcc
            configuration: static
            set: "base-3.15"
            name: "B-3.15 Ub-24 gcc-13, static"

          - name: "B-3.14 Ub-24 gcc-13"
            os: ubuntu-24.04
            cmp: gcc
            configuration: default
            set: "base-3.14"

          - name: "B-3.14 Ub-24 gcc-13, static"
            os: ubuntu-24.04
            cmp: gcc
            configuration: static
            set: "base-3.14"

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - name: Automatic core dumper analysis
      uses: mdavidsaver/ci-core-dumper@master
    - name: "apt-get install"
      run: |
        sudo apt-get update
        sudo apt-get -y install qemu-system-x86 g++-mingw-w64-x86-64 gdb libpcre3-dev
      if: runner.os == 'Linux'
    - name: "brew install"
      run: |
        brew install pcre
      if: runner.os == 'macOS'
    - name: Install Python test dependencies with pip
      run: |
        python3 -m pip install --break-system-packages pytest pytest-tap pyepics caproto
      if: matrix.os == 'ubuntu-24.04'
    - name: Install Python test dependencies with pip
      run: |
        python3 -m pip install pytest pytest-tap pyepics caproto
      if: matrix.os == 'ubuntu-22.04'
    - name: Install Python test dependencies with pip (Windows)
      run: |
        python -m pip install pytest pytest-tap pyepics caproto
      if: runner.os == 'Windows'
    - name: Install Python test dependencies with pip (MacOS)
      run: |
        python3 -m pip install --break-system-packages pytest pytest-tap pyepics caproto
      if: runner.os == 'macOS'
    - name: Prepare and compile dependencies
      run: python .ci/cue.py prepare
    - name: Build main module
      run: python .ci/cue.py build
    - name: Run main module tests
      run: python .ci/cue.py test
    - name: Collect and show test results
      run: python .ci/cue.py test-results
    - name: Generate test summary
      uses: test-summary/action@v2
      with:
        paths: |
          testTop/pyTestsApp/O.*/*.xml
      if: always()
    - name: Upload test artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.name }} - test results
        path: |
          testTop/pyTestsApp/O.*/*.tap
          testTop/pyTestsApp/O.*/*.xml
          test-summary.md
      if: always()
